*{
  margin: 0;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.title {
  color: white;
  font-size: 35px;
  padding-top: 25px;
  text-align: center;

}

.search-form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

.search-button {
  background-color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 5px;

  font-weight: bold;
}

.search-button:hover {
  background-color: black;
  color: white;
  transition-duration: 500ms;
  font-weight: bold;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}